
body , table
{
    font-family: 돋움;
    font-size:  12px;
}

table.file-table
{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-collapse: collapse;
}

table.file-table > thead , tbody , tr , th , td
{
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
}

table.file-table > thead > tr
{
    height: 30px;
    background-color: #889CB3;
}

table.file-table > thead > tr > th
{
    color: #ffffff;
    font-family: 돋움;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}

table.file-table > tbody > tr
{
    height: 25px;
}

table.file-table > tbody > tr > td
{
    padding-left: 5px;
}

div.popup
{
    z-index: 100;
}

div.popup-title
{
    background-color: #889CB3;
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}


div.popup-content
{
    height: 100%;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-weight: bold;
}

tr.even-class
{
    background-color: rgb(249, 249, 249);
}

div.toolbar-button
{
    margin-right: 2px;
    float: left;
    width: 30px;
    text-align: center;
    cursor: default;
    background-color: #2B2B2B;
}

div.toolbar-button:hover
{
    background-color: #545657;
}

div.toolbar-button > span
{
    color: white;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    background-color: #2B2B2B;
}

div.toolbar-button:hover > span
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: -14px;
    background-color: #5C88BA;
    visibility: visible;
}


